@import "./../../../../../index";

.editForm {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-flow: column wrap;
}

.inputLabel {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-text-color);
  margin-bottom: 5px;
}

.inputField {
  padding: 13px 15px;
  font-size: 12px;
  color: var(--secondary-text-color);
  border: 1px solid #e6ecf5;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.submitEdit {
  @include btn;
}
