.pagination {
    padding: 20px 0;

    & > ul {
        display: flex;

        & li [aria-current="page"] {
            color: white;
            background: var(--secondary-color);
        }
    }


    & li {

        & a {
            font-size: 12px;
            font-weight: 700;
            padding: .9rem 1.2rem;
            color: #515365;
            background-color: #fff;
            border: 1px solid #e6ecf5;
            transition: all .15s ease-in-out;
            border-radius: 3px;

            &:hover {
                cursor: pointer;
                color: white;
                background: var(--secondary-color);
            }
        }
    }
}

