@import "./../../../../index";

.profileDescr {
  display: flex;
  align-items: baseline;
  height: 100%;
  width: 40%;
}

.profileDescr > .regularMode {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profileDescrTitle {
  color: var(--active-text-color);
}

.profileDescr span {
  font-size: 14px;
  font-weight: 700;
  color:  var(--primary-text-color) !important;
}

.editButton {
  @include btn;
  font-size: .6em;
  padding: 4px 6px;
}