@import './../../../../index.scss';

.addPost {
  display: flex;
  flex-direction: column;
  padding: 25px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 20px;
}

.addPost__form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.addPost__avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-right: 10px;

  & + div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
  }
}

.addPost__textarea {
  width: 100%;
  height: 200px;
  padding: 5px 15px;
  resize: none;
  position: relative;
  border: none;
  margin-bottom: 20px;

  &:focus {
    border: 1px solid var(--secondary-color); 
  }
}

.addPost__label {
  position: absolute;
  top: 18px;
  left: 10px;
}

.addPost__btn {
  @include btn;
  color: #fff;
  background-color: var(--secondary-color);
}