@import './../../index.scss';

.header {
  display: flex;
  align-items: center;
  height: 70px;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 21;
  color: #fff;
  padding-right: 70px;
}

.header__link {
  display: flex;
  min-width: 70px;
  height: 100%;
  align-items: center;
  justify-content: center;
  // padding: 15px;
  background-color: var(--secondary-color);
}

.header__current {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 170px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.headerLogin {
  margin-left: auto;
  &:hover a {
    color: white
  }
}