.navbar {
  position: fixed;
  left: 0;
  top: 80px;
  background-color: #fff;
  width: 160px;
  border-radius: 8px;
  transform: translateX(-70%);
  transition: all 0.4s linear;

  &:hover {
    transform: translateX(0);

    .nav__list {
      padding: 7px;
    }
  }
}

.nav__list {
  transition: all 0.4s linear;
}

.nav__list__link {
  position: relative;
  display: flex;
  align-items: baseline;
  padding: 30px;

  & > i {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin-left: 7px;
  }

  &:hover,
  &.active {
    cursor: pointer;
    background-color: #f3f3f3;
    color: var(--secondary-color);
  }
}
