@import './../../index.scss';

.sidebar {
  position: fixed;
  right: 0;
  top: 80px;
  background-color: #fff;
  width: 270px;
  border-radius: 8px;
  max-height: 60%;
  overflow-y: scroll;
  transform: translateX(75%);
  transition: .5s ease;
  @include scroll;

  &:hover {
    transform: translate(0);
  }
  
}

.sidebar__friends {
  width: 100%;
  padding: 10px 0;
}