.profileInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.profileCover {
  width: 100%;
  height: 212px;
}

.profileCoverImg {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileBody {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #FFF;
}

.profileAvatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.profileDescr, .profileContacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profileDescrTitle {
  color: var(--active-text-color);
}

.profileDescr span {
  font-size: 14px;
  font-weight: 700;
  color:  var(--primary-text-color);
}