.profileInfo {
  width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.profileCover {
  width: 100%;
  height: 212px;
}

.profileCoverImg {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

.profileBody {
  max-height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: #FFF;
  padding: 20px 0;
}
