.message__field {
  width: 70%;
  border-left: 1px solid #e6ecf5;
}

.message__field__title {
  display: flex;
  padding: 23px 25px 18px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6ecf5;
}

.message__title {
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.3;
  color: var(--active-text-color);
}

.message__area {
  display: flex;
  flex-direction: column;
  padding: 30px 70px;
  margin: 0 auto;
}