.dialogs {
  display: flex;
  flex-direction: column;
  width: 945px;
  margin: 0 auto;
  background: #fff;
  padding-top: 25px;

  > div {
    display: flex;
  }
}

.dialogs__header {
  padding: 0px 25px 18px;
  border-bottom: 1px solid #e6ecf5;
}

.dialogs__contacts {
  width: 30%;
  flex-shrink: 0;
}