.profile__header__list {
  display: flex;
  background-color: #fff;
  padding: 38px;
}

.profile__header__item {

  &:not(:last-child) {
    margin-right: 10%;
  }
  &:nth-child(3) {
    margin-right: auto;
  }
}

.profile__header__link {
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-text-color);
  cursor: pointer;

  &.active,
  &:hover {
      color: var(--active-text-color);
  }
}